body {
    background-color: rgb(250, 240, 230);
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar  li a:hover {
    background-color: #111111;
}

hr {
    height: 1px;
    background-color: rgb(20, 0, 57);
    border-color: black;
}

.container {
    display: grid;
    grid-template-areas:
  "kop kop"
  "post1 post2"
  "post3 post4"
  "post5 post5";
    grid-template-columns: 4fr 3fr;
    gap: 5px;
    padding: 5px;
    margin: 150px;
    margin-top: 0;
}
.kop {
  grid-area: kop;
  background-color: rgb(245, 213, 171);
  padding: 10px;
  text-align: center;
  font-size: 35px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.post1
 {
  grid-area: post1;
  background-color: rgb(245, 213, 171);
  padding: 10px;
}

.post2
 {
  grid-area: post2;
  background-color: rgb(245, 213, 171);
  padding: 10px;
}

.post3
 {
  grid-area: post3;
  background-color: rgb(245, 213, 171);
  padding: 10px;
}

.post4
 {
  grid-area: post4;
  background-color: rgb(245, 213, 171);
  padding: 10px;
}

.post5
 {
  grid-area: post5;
  background-color: rgb(245, 213, 171);
  padding: 10px;
}

.post1, .post2, .post3, .post4, .post5 {
  align-self: start;
}


.subtitel {
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
  color: rgb(25, 25, 112);
  margin-bottom: 10px;
   margin-left: 10px;
}

.image-right, .image-bottom {
    width: 443px;
    display: block;
    margin: auto;
    height: 200px;

}
.image-left {
    width: 443px;
    display: block;
    margin-left: 20px;
    height: 200px;

}


p{
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.lees-meer-knop {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  padding: 8px 16px;
  background-color: #d17a29;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.lees-meer-knop:hover {
  background-color: #163d73;
}
summary {
  margin-left: 10px;
}
.foto-swot{
    width: 523px;
    display: block;
    margin: auto;
    height: 200px;

}
.onderste-div{
  text-align: center;
}
.subtitel-onderste-div {
  font-style: italic;
  font-size: 17px;
  font-weight: bold;
  color: rgb(25, 25, 112);
  margin-bottom: 10px;
   margin-left: 10px;
   text-align: center;
}
